## Detection histories summary for Tropical Screech-Owl & Ferruginous Pygmy-Owl

In [1]:
import pandas as pd
import os
import re

In [2]:
# Load the paths
main_dir = "/mnt/d/night_recordings_analysis/"
output_file_fepowl = os.path.join(main_dir, "Ferruginous Pygmy-Owl/fepowl_detection_history.csv")
output_file_trsowl = os.path.join(main_dir, "Tropical_Screech-Owl/trsowl_detection_history.csv")
output_file_brnowl = os.path.join(main_dir, "Barn Owl/brnowl_detection_history.csv")
output_file_rubowl = os.path.join(main_dir, "Rusty-barred Owl/rubowl_detection_history.csv")

In [3]:
# Load detection history matrix
df_fepowl = pd.read_csv(output_file_fepowl, index_col=0)
df_trsowl = pd.read_csv(output_file_trsowl, index_col=0)
df_brnowl = pd.read_csv(output_file_brnowl, index_col=0)
df_rubowl = pd.read_csv(output_file_rubowl, index_col=0)

### Count the number of sites with at least one detection

In [4]:
# Convert all values to numeric (just in case)
df_numeric_fepowl = df_fepowl.apply(pd.to_numeric, errors='coerce')
df_numeric_trsowl = df_trsowl.apply(pd.to_numeric, errors='coerce')
df_numeric_brnowl = df_brnowl.apply(pd.to_numeric, errors='coerce')
df_numeric_rubowl = df_rubowl.apply(pd.to_numeric, errors='coerce')

# Sum rows → any row (site) with at least one 1
detections_per_site_fepowl = (df_numeric_fepowl == 1).any(axis=1)
num_sites_with_detections_fepowl = detections_per_site_fepowl.sum()

detections_per_site_trsowl = (df_numeric_trsowl == 1).any(axis=1)
num_sites_with_detections_trsowl = detections_per_site_trsowl.sum()

detections_per_site_brnowl = (df_numeric_brnowl == 1).any(axis=1)
num_sites_with_detections_brnowl = detections_per_site_brnowl.sum()

detections_per_site_rubowl = (df_numeric_rubowl == 1).any(axis=1)
num_sites_with_detections_rubowl = detections_per_site_rubowl.sum()

print(f"Number of sites with at least one detection for Ferruginous Pygmy-Owl: {num_sites_with_detections_fepowl}")
print(f"Number of sites with at least one detection for Tropical Screech-Owl: {num_sites_with_detections_trsowl}")
print(f"Number of sites with at least one detection for Barn Owl: {num_sites_with_detections_brnowl}")
print(f"Number of sites with at least one detection for Rusty-Barred Owl: {num_sites_with_detections_rubowl}")

Number of sites with at least one detection for Ferruginous Pygmy-Owl: 21
Number of sites with at least one detection for Tropical Screech-Owl: 53
Number of sites with at least one detection for Barn Owl: 49
Number of sites with at least one detection for Rusty-Barred Owl: 21

### Partition detecions across habitat types

In [5]:
# Add habitat type column
# Extract habitat type: CH, M, or P (case-insensitive)
habitat_types_fepowl = df_numeric_fepowl.index.to_series().str.extract(r'^([a-zA-Z]+)', expand=False).str.upper() #Gets letters from the start of each site name

habitat_types_trsowl = df_numeric_trsowl.index.to_series().str.extract(r'^([a-zA-Z]+)', expand=False).str.upper()

habitat_types_brnowl = df_numeric_brnowl.index.to_series().str.extract(r'^([a-zA-Z]+)', expand=False).str.upper()

habitat_types_rubowl = df_numeric_rubowl.index.to_series().str.extract(r'^([a-zA-Z]+)', expand=False).str.upper()

# Add this as a column
df_numeric_fepowl['Habitat'] = habitat_types_fepowl
df_numeric_trsowl['Habitat'] = habitat_types_trsowl
df_numeric_brnowl['Habitat'] = habitat_types_brnowl
df_numeric_rubowl['Habitat'] = habitat_types_rubowl

In [6]:
# Boolean: True for sites with at least one detection
has_detection_fepowl = (df_numeric_fepowl.drop(columns='Habitat') == 1).any(axis=1)
has_detection_trsowl = (df_numeric_trsowl.drop(columns='Habitat') == 1).any(axis=1)
has_detection_brnowl = (df_numeric_brnowl.drop(columns='Habitat') == 1).any(axis=1)
has_detection_rubowl = (df_numeric_rubowl.drop(columns='Habitat') == 1).any(axis=1)

# Combine into a DataFrame
df_numeric_fepowl['Detected'] = has_detection_fepowl
df_numeric_trsowl['Detected'] = has_detection_trsowl
df_numeric_brnowl['Detected'] = has_detection_brnowl
df_numeric_rubowl['Detected'] = has_detection_rubowl

# Group by habitat and sum the True values
summary_by_habitat_fepowl = df_numeric_fepowl.groupby('Habitat')['Detected'].sum()
summary_by_habitat_trsowl = df_numeric_trsowl.groupby('Habitat')['Detected'].sum()
summary_by_habitat_brnowl = df_numeric_brnowl.groupby('Habitat')['Detected'].sum()
summary_by_habitat_rubowl = df_numeric_rubowl.groupby('Habitat')['Detected'].sum()

print("Number of sites with ≥1 detection by habitat: Ferruginous Pygmy-Owl")
print(summary_by_habitat_fepowl)


print("Number of sites with ≥1 detection by habitat: Tropical Screech-Owl")
print(summary_by_habitat_trsowl)

print("Number of sites with ≥1 detection by habitat: Barn Owl")
print(summary_by_habitat_brnowl)

print("Number of sites with ≥1 detection by habitat: Rusty-Barred Owl")
print(summary_by_habitat_rubowl)

Number of sites with ≥1 detection by habitat: Ferruginous Pygmy-Owl
Habitat
CH     4
M     14
P      3
Name: Detected, dtype: int64
Number of sites with ≥1 detection by habitat: Tropical Screech-Owl
Habitat
CH    25
M     10
P     18
Name: Detected, dtype: int64
Number of sites with ≥1 detection by habitat: Barn Owl
Habitat
CH    26
M     12
P     11
Name: Detected, dtype: int64
Number of sites with ≥1 detection by habitat: Rusty-Barred Owl
Habitat
CH     1
M     14
P      6
Name: Detected, dtype: int64

In [7]:
# Combine habitat-wise summaries into one DataFrame
summary_combined = pd.DataFrame({
    "Ferruginous Pygmy-Owl": summary_by_habitat_fepowl,
    "Tropical Screech-Owl": summary_by_habitat_trsowl,
    "Barn Owl": summary_by_habitat_brnowl,
    "Rusty-Barred Owl": summary_by_habitat_rubowl,
}).fillna(0).astype(int)

summary_combined.index.name = "Habitat"

summary_combined.loc["Total"] = summary_combined.sum()

from IPython.display import display

display(summary_combined)

,Ferruginous Pygmy-Owl,Tropical Screech-Owl,Barn Owl,Rusty-Barred Owl
Habitat,,,,
CH,4,25,26,1
M,14,10,12,14
P,3,18,11,6
Total,21,53,49,21

In [8]:
#main_dir = "/mnt/d/night_recordings_analysis/"
summary_combined.to_csv(os.path.join(main_dir,"detections_summary.csv"))